<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchening</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/1d9f245b0c.js" crossorigin="anonymous"></script>

</head>
<body class="home">
    <header class="home__header">
        <div class="home__header__logo">
            <img src="/images/logo.jpg" alt="logo">
        </div>
        <button>
            <i class="fa-solid fa-bars"></i>
        </button>


       
        <nav class="home__header__menu">
            <ul>
                <li><a href="">home</a></li>
                <li><a href="">quienes</a></li>
                <li><a href="">servicios</a></li>
                <li><a href="">porfolio</a></li>
                <li><a href="">sucursales</a></li>
                <li><a href="">contacto</a></li>

            </ul>
        </nav>
    </header>
    <main class="home__main">
        <section class="home__main__section--banner">
            <div>
                <img src="/images/img-banner.jpg" alt="banner">
            </div>
        </section>
        <section class="home__main__section--productos">
            <article class="home__main__section__article">
                <div class="home__main__section__article__photo">
                    <img src="/images/img-descuento.png" alt="decuento">
                    <img src="/images/img-pdto-1.jpg" alt="producto1">
                    <a href="">ampliar foto</a>
                </div>
                <h2>Lorem, ipsum dolor </h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim autem delectus animi recusandae at voluptates!</p>
            </article>
            <article class="home__main__section__article">
                <div class="home__main__section__article__photo">
                    <img src="/images/img-gratis.png" alt="gratis">
                    <img src="/images/img-pdto-2.jpg" alt="producto2">
                    <a href="">ampliar foto</a>
                </div>
                <h2>Lorem, ipsum dolor </h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim autem delectus animi recusandae at voluptates!</p>
            </article>
            <article class="home__main__section__article">
                <div class="home__main__section__article__photo">
                    <img src="/images/img-nuevo.png" alt="nuevo">
                    <img src="/images/img-pdto-3.jpg" alt="producto3">
                    <a href="">ampliar foto</a>
                </div>
                <h2>Lorem, ipsum dolor </h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim autem delectus animi recusandae at voluptates!</p>
            </article>
            <article class="home__main__section__article">
                <div class="home__main__section__article__photo">
                    <img src="/images/img-descuento.png" alt="decuento">
                    <img src="/images/img-pdto-1.jpg" alt="producto1">
                    <a href="">ampliar foto</a>
                </div>
                <h2>Lorem, ipsum dolor </h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim autem delectus animi recusandae at voluptates!</p>
            </article>
            <article class="home__main__section__article">
                <div class="home__main__section__article__photo">
                    <img src="/images/img-gratis.png" alt="gratis">
                    <img src="/images/img-pdto-2.jpg" alt="producto2">
                    <a href="">ampliar foto</a>
                </div>
                <h2>Lorem, ipsum dolor </h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim autem delectus animi recusandae at voluptates!</p>
            </article>
            <article class="home__main__section__article">
                <div class="home__main__section__article__photo">
                    <img src="/images/img-nuevo.png" alt="nuevo">
                    <img src="/images/img-pdto-3.jpg" alt="producto3">
                    <a href="">ampliar foto</a>
                </div>
                <h2>Lorem, ipsum dolor </h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim autem delectus animi recusandae at voluptates!</p>
            </article>

        </section>

    </main>
    <footer class="home__footer">
        <nav class="home__footer__menu">
            <ul>
                <li><a href="">home</a></li>
                <li><a href="">quienes</a></li>
                <li><a href="">servicios</a></li>
                <li><a href="">porfolio</a></li>
                <li><a href="">sucursales</a></li>
                <li><a href="">contacto</a></li>

            </ul>
        </nav>

    </footer>
    
</body>
</html>